@import "./media-query";

.agent{
    position: fixed;
    background: white;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mobile{
        top: 1pc;
        left: 1pc;
        width: 84%;
        padding: 1rem;
    }
    @include tablet{
        top: 3pc;
        left: 3pc;
        width: 80%;
        padding: 2rem;
    }
    @include laptop{
        top: 6pc;
        left: 5pc;
        width: 78%;
    }
    @include laptop_L{
        left: 18pc;
        width: 60%;
    }
    @include laptop_W{
        top: 41pc;
        left: 55pc;
        width: 34%;
    }

    &__closewrapper{
        position: absolute;
        border: none;
        background: transparent;
        height: 100px;
        width: 70px;
        right: 1pc;
        top: 0pc;

        @include mobile{
            height: 80px;
            width: 64px;
            right: 1pc;
            top: 0pc;
        }
    }

    &__img{
        width: 100%;
    }

    &__logo{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__logoimg{
        border-radius: 100%;
        height: 120px;
        width: 120px;
        @include mobile{
            height: 90px;
            width: 90px;  
        }
        @include laptop{
            height: 120px;
            width: 120px;
        }
    }

    &__header{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // margin-bottom: 1rem;
        @include mobile{
            margin-top: 4rem;
            margin-bottom: 1rem;
            flex-direction: column;
        }
        @include tablet{
            margin: 1rem 0;
            flex-direction: row;
        }

        @include laptop{
            margin-top: 2rem;
            margin-bottom: 3rem;
            width: 95%;
        }
    }

    &__info{
        @include mobile{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        @include tablet{
            display: block;
        }
    }

    &__title{
        font-weight: 800;
        @include mobile{
            font-size: 1rem;
        }
        @include tablet{
            font-size: 2rem;
        }
        @include laptop{
            font-size: 2.5rem;
        }
    }

    &__accno{
        background: black;
        padding: 0.5rem;
        color: #FFF;

        @include mobile{
            width: 126px;
            font-size: .8rem;
        }
        @include tablet{
            width: 160px;
            font-size: 1rem;
        }
    }

    &__infocontainer{
        display: flex;
        justify-content: space-between;
        margin-bottom: 3rem;
        @include mobile{
            width: 100%;
            flex-direction: column;
        }
        @include tablet {
            width: 95%;
            flex-direction: row;
        }
    }

    &__address{
        @include mobile{
            text-align: center;
        }
        @include tablet{
            text-align: unset;
        }
    }

    &__addheader{
       
        margin-bottom: 1rem;
        color: #E30814;
        @include mobile{
            font-size: 1.4rem;
        }
        @include tablet{
            font-size: 1.5rem;
        }
        @include laptop{
            font-size: 2rem;
        }
    }
    &__fulladdress{
        @include mobile{
        font-size: 1rem;
        }

        @include tablet{
        font-size: 1rem;
        } 
        @include laptop{
            font-size: 1.4rem;
        }
    }

    &__properties{
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 1rem;
        width: 157px;
        border-radius: 3px;
        border: none;
        background: red;
        color: white;
        font-weight: 600;
        font-size: 1rem;
        @include mobile{
            margin-left: 0;
            align-self: center;
        }
        @include tablet{
            
            margin-left: 1rem;
            align-self: flex-start;

        }
    }
   

}

.hide{
    display: none;
}