@import "./media-query";

.property{
    
    align-items: unset;
    @include mobile{
        top: 0.5pc;
        left: 0.5pc;
        width: 87%;
        height: 95%;
        overflow: scroll;
    }
    @include tablet{
        top: 3pc; 
        left: 0.8pc;
        width: 88%;
        height: auto;
    }

    @include laptop{
        width: 85%;
        top: 7pc;
        left: 2.5pc;
        
    }

    @include laptop_L{
        width: 70%;
        left:11.5pc;
        
    }
    @include laptop_W{
        width: 40%;
        left: 50.5pc;
        top:37pc; 
    }

    &__header{
        margin-bottom: 2rem;
    }

    &__agencytitle{
        font-weight: 800;
        margin: 1rem 0;
        @include mobile{
            font-size: 1rem;
        }
        @include tablet{
            font-size: 2rem;
        }
    }
    &__tag{
        width: 100px;
        padding: 0.6rem;
        text-align: center;
        font-weight: 700;
        margin: 0;
    }

    &__propwrapper{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2.5rem;
        @include mobile{
            flex-direction: column;
        }
        @include tablet{
            flex-direction:row;
        }
    }

    &__container{
        padding: 1rem;
        display: flex;
        flex-direction: column;
        background: #FFF;
        height: auto;
        box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
        @include mobile{
            width: 86%;
            margin-bottom: 2rem;
        }
        @include tablet{
            margin-bottom:0;
            width: 43%;
        }
        @include laptop{
            width: 45%;
        }
        @include laptop_L{
            width: 40%;
        }
        &:hover{
            box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        }
    }

    &__imgcon{
       
        justify-content: center;
        align-items: center;
        @include mobile{
            display: none;
        }
        @include tablet{
            display: flex;
        }
    }

    &__img{
        
        border-radius: 100%;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;

        @include tablet{
            width: 80px;
            height: 80px;
        }
        @include laptop{
            width: 100px;
            height: 100px;
        }
        @include laptop_L{
            width: 120px;
            height: 120px;
        }
    }

    &__conheader{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include mobile{
            width: 100%;
        }
        @include laptop{
            width: 95%;
        }
    }

    &__addresscon{
        @include mobile{
            display: flex;
            flex-direction: column;
            align-self: flex-start;
        }
        @include tablet{
            display: block;
        }
    }


    &__addressheader{
        background: red;
        color: white;
        @include mobile{
            font-size: .8rem;
            margin: 0.5rem 0;
            padding: 0.6rem;
            width: 119px;
        }
        @include tablet{
            margin: unset;
            
        }
        @include laptop{
            padding: 0.8rem;
            width: 169px;
            font-size: 1rem;
        }
    }
    &__address{
        font-weight: 600;
        @include mobile{
            font-size: 0.8rem;
        }

        @include laptop{
            font-size: 1rem;
        }
        @include laptop_L{
            font-size: 1.1rem;
        }
    }

    &__listheader{
            background: red;
            color: white;
            text-align: center;
            @include mobile{
                padding: 0.3rem;
                font-size: 0.7rem;
                width: 95px;
                margin-bottom: 0;
            }
            @include tablet{
                margin-bottom: 1rem;
                width: 125px;
            }
            @include laptop{
                padding: 0.5rem;
            }
    }; 
    
    &__listinfo{
        text-align: center;
        font-weight: 600;
        @include mobile{
            margin: 0.5rem;
        }
        @include tablet{
            margin: unset;
        }
    }

    &__pagination{
   
    padding: 0.5rem;
    display: flex;
    align-self: flex-end;
    text-align: center;
    display: flex;
    justify-content: center;
    border: none;
    background: black;
    color: #FFF;
    font-size: 1rem;

    @include mobile{
        width: 37%;
    } 
    @include tablet{
        width: 15%;
    }
    @include laptop{
        width: 10%;
    }

    }



}


.hide{
    display: none;
}