@import "./media-query";

.property{
    top: 3.5pc;
    left: 6.5pc;
    width: 80%;
    height: 80%;
    align-items: unset;

    &__agencytitle{
        font-size: 2rem;
        font-weight: 800;
        margin-bottom: 1rem;
    }
    &__tag{
        width: 100px;
        padding: 0.6rem;
        text-align: center;
        font-weight: 700;
    }

    &__propwrapper{
        width: 100%;
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__container{
        display: flex;
        flex-direction: column;
        width: 40%;
        height: 392px;
        background: #FFF;
        margin: 1rem;
        box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;

        &:hover{
            box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        }
    }

    
    

}


.hide{
    display: none;
}