@import "./media-query";

.property{
    top: 3.5pc;
    left: 6.5pc;
    width: 80%;
    height: 80%;
    align-items: unset;

    &__header{
        margin-bottom: 2rem;
    }

    &__agencytitle{
        font-size: 2rem;
        font-weight: 800;
        margin-bottom: 1rem;
    }
    &__tag{
        width: 100px;
        padding: 0.6rem;
        text-align: center;
        font-weight: 700;
    }

    &__propwrapper{
        width: 100%;
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2.5rem;
    }

    &__container{
        padding: 1rem;
        display: flex;
        flex-direction: column;
        width: 40%;
        height: 385px;
        background: #FFF;
        margin: 1rem;
        box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;

        &:hover{
            box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        }
    }

    &__imgcon{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__img{
        width: 120px;
        height: 120px;
        border-radius: 100%;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
    }

    &__conheader{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 95%;
    }


    &__addressheader{
        padding: 0.8rem;
        background: red;
        color: white;
        width: 169px;
    }
    &__address{
        font-size: 1.1rem;
        font-weight: 600;
    }

    &__listheader{
            padding: 0.5rem;
            background: red;
            color: white;
            width: 125px;
            margin-bottom: 1rem;
            text-align: center;
    }; 
    
    &__listinfo{
        text-align: center;
        font-weight: 600;
    }

    &__pagination{
    width: 10%;
    padding: 0.5rem;
    display: flex;
    align-self: flex-end;
    text-align: center;
    display: flex;
    justify-content: center;
    border: none;
    background: black;
    color: #FFF;
    font-size: 1rem;

    }



}


.hide{
    display: none;
}